# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
.env.*
.venv.*
# Test-related files
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.tox/
.nox/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Celery
celerybeat-schedule
celerybeat.pid

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
media

# Sentry files
.sentryclirc

# If you are using Docker:
*.env
docker-compose*.yaml
Dockerfile

# Editor files
.idea/
.vscode/
*.swp
*~
.project
.pydevproject
.spyderproject
.spyproject
