/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Barra de navegação */
.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar img {
    height: 40px; /* Ajuste conforme necessário */
}

.navbar-menu {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
}

.navbar-menu a {
    display: block;
    padding: 14px 20px;
}

.navbar-menu form {
    display: flex;
    align-items: center;
}

.navbar-menu form input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.navbar-menu form button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.navbar-menu form button:hover {
    background-color: #ddd;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #f2f2f2;
    margin: 5px 0;
}

/* Layout responsivo para a barra de navegação */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }
    .navbar-menu.active {
        display: flex;
    }
    .menu-icon {
        display: block;
    }
}

.container {
    padding: 20px;
    flex: 1;
}

h1, h2 {
    color: #333;
}

/* Painéis */
.panel {
    width: 100%;
    margin: 20px 0;
    border-radius: 8px;
}

/* Rodapé */
.footer {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
}

.footer a {
    color: #f2f2f2;
    text-decoration: none;
}

.footer a:hover {
    color: #ddd;
}

/* Paginação */
.pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-links a, .step-links span {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.step-links a:hover {
    background-color: #ddd;
}

.step-links .current {
    font-weight: bold;
}

/* Galeria de artistas e sons */
.artist-gallery, .sound-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.artist-item, .sound-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Imagens de artistas e sons */
.artist-image, .sound-image {
    width: 250px;
    height: 250px;
    object-fit: cover; /* Mantém o layout quadrado sem distorção */
    margin-bottom: 10px;
}

.artist-name, .sound-name {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.artist-name:hover, .sound-name:hover {
    text-decoration: underline;
}

/* Layout responsivo para galerias */
@media (min-width: 769px) {
    .artist-gallery, .sound-gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .artist-gallery, .sound-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; /* Adiciona espaço entre os itens */
    }

    .artist-item, .sound-item {
        width: 100%;
        box-sizing: border-box;
    }

    .artist-image, .sound-image {
        width: 100%;
        height: auto;
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
        aspect-ratio: 1; /* Mantém a imagem quadrada */
        object-fit: cover; /* Ajusta a imagem para cobrir completamente o contêiner */
    }
}


.button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #333;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 5px;
    border-radius: 0;
}

.button:hover, .button:focus {
    background-color: #fff;
    color: #333;
    border-color: #333;
}

.pagination-button {
    background-color: #ddd;
    color: black;
}

.pagination-button:hover {
    background-color: #ccc;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.step-links a, .step-links span {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #333;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 5px;
    border-radius: 0;
}

.step-links a:hover {
    background-color: #fff;
    color: #333;
    border-color: #333;
}

.step-links .current {
    font-weight: bold;
}

/* Container de login */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-container form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container form button:hover {
    background-color: #555;
}

.login-container p {
    text-align: center;
}

.login-container p a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.login-container p a:hover {
    text-decoration: underline;
}

.registro-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registro-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.registro-container form {
    display: flex;
    flex-direction: column;
}

.registro-container form input[type="text"],
.registro-container form input[type="email"],
.registro-container form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.registro-container form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registro-container form button:hover {
    background-color: #555;
}

.registro-container p {
    text-align: center;
}

.registro-container p a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.registro-container p a:hover {
    text-decoration: underline;
}

.songs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.song-item {
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.song-item h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.song-item p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

.song-item a {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #333;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.song-item a:hover, .song-item a:focus {
    background-color: #fff;
    color: #333;
    border-color: #333;
}

/* Tabela de listagem de músicas */
.song-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.song-table th,
.song-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.song-table th {
    background-color: #f2f2f2;
}

.song-table tr:hover {
    background-color: #f9f9f9;
}

.song-table .actions {
    display: flex;
    justify-content: space-between;
}

.song-table .actions form {
    display: inline;
}

.song-table .actions button {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #333;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 5px;
}

.song-table .actions button:hover, .song-table .actions button:focus {
    background-color: #fff;
    color: #333;
    border-color: #333;
}

.song-table .actions button.delete {
    border-color: red;
    background-color: red;
}

.song-table .actions button.delete:hover, .song-table .actions button.delete:focus {
    background-color: #fff;
    color: red;
}

/* Estilo para o banner */
.banner-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Container container_parent */
.container_parent {
    flex:1;
}

/* Container principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo das seções */
.section-description, .section-open-source, .section-support {
    margin-bottom: 60px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    text-align: justify;
}

/* Estilo dos botões */
.button.primary-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
    border-radius: 4px;
}

.button.primary-button:hover {
    background-color: #fff;
    color: #333;
}

/* Estilo do QR Code */
.qr-code {
    text-align: center;
    margin-top: 20px;
}

.qr-image {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

/* Estilo de mídia para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .section-description, .section-open-source, .section-support {
        margin-bottom: 30px;
        padding: 10px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .qr-image {
        width: 150px;
        height: 150px;
    }
}

/* Estilo para os formulários */
.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form label {
    margin-bottom: 5px;
    color: #333;
}

.form-container form input[type="text"],
.form-container form input[type="file"],
.form-container form textarea,
.form-container form select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.footer {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    flex:0.4;
}

.footer a {
    color: #f2f2f2;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    color: #ddd;
}

.footer span {
    color: #f2f2f2;
    margin: 0 10px;
}

/* Estilo específico para a seção do artista */
.view-artist-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    text-align: center; /* Para centralizar o texto em telas menores */
}

.view-artist-image-container {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    margin: 0 auto 20px auto; /* Para centralizar a imagem em telas menores */
    padding: 10px; /* Adiciona espaço ao redor da div */
}

.view-artist-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.view-artist-details {
    flex: 2;
    min-width: 300px;
    margin: 0 auto; /* Para centralizar o texto em telas menores */
    padding: 10px; /* Adiciona espaço ao redor da div */
}

.view-artist-name {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.view-artist-description {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Estilo específico para a seção de sons */
.view-sound-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.view-sound-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
}

.view-sound-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.view-sound-name {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.view-sound-name:hover {
    text-decoration: underline;
}

.view-audio-player {
    width: 100%;
    margin-top: 10px;
}

.view-no-audio, .view-sound-description {
    margin-top: 10px;
    font-size: 1em;
    color: #555;
}

.view-no-sounds {
    text-align: center;
    font-size: 1.2em;
    color: #555;
}

/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the tooltip element */
    left: 50%;
    margin-left: -100px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
}
