{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/somasom_logo_fundolaranja.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Som a Som</title>
    <!--<meta name="monetag" content="fad533284701e089539e2399f7ed3ec2">-->
</head>
<body>
    {% block nav %}
        <div class="navbar">
            <a href="/">
                <img src="{% static 'images/somasom_logo_branco_transparente.png' %}" alt="logo">
            </a>
            <div class="menu-icon" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="navbar-menu" id="navbar-menu">
                <a href="/artists/list_artists">Artistas</a>
                <a href="/sounds/list_sounds">Sons</a>
                {% if user.is_authenticated %}
                    <a href="/community">Comunidade</a>
                    <a href="/general_panel">Painel</a>
                    <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: none;">
                        {% csrf_token %}
                    </form>
                    <a class="waves-effect waves-light btn" href="#" 
                       onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                       Sair
                    </a>
                    
                {% else %}
                    <a href="/login">Acessar</a>
                    <a href="/signup">Cadastrar</a>
                {% endif %}
                <form action="{% url 'search_results' %}" method="get">
                    <input type="text" name="q" placeholder="Buscar artistas e sons...">
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </div>
    {% endblock %}

    
    <div id="container_parent" class="container_parent">
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="footer">
        <a href="mailto:lucasgkauer@gmail.com">
            <i class="fas fa-envelope"></i> E-mail
        </a>
        <span>|</span>
        <a href="https://www.instagram.com/somasom.app" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
        </a>
        <span>|</span>
        <a href="https://github.com/lkauer/somasomv2" target="_blank">
            <i class="fab fa-github"></i> GitHub
        </a>
        <a href="{% url 'about' %}">
            <i class="fas fa-info-circle"></i> Sobre nós
        </a>
    </div>

    <script>
        function toggleMenu() {
            const menu = document.getElementById('navbar-menu');
            menu.classList.toggle('active');
        }
    </script>
    <!--<script src="https://alwingulla.com/88/tag.min.js" data-zone="80658" async data-cfasync="false"></script>-->

</body>
</html>
