{% extends "myapp/base_menu.html" %}

{% block content %}
    <h1>Editar Som</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data" id="lancamentoForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="submitBtn">Salvar</button>
    </form>
    <a href="{% url 'listar_lancamentos' %}">Voltar</a>

    <script>
        document.getElementById('lancamentoForm').addEventListener('submit', function() {
            document.getElementById('submitBtn').disabled = true;
        });
    </script>
{% endblock %}