{% extends "myapp/base_menu.html" %}

{% block content %}

    <h1>Editar Artista</h1>
    <form method="post" enctype="multipart/form-data" id="artistaForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button" type="submit" id="submitBtn">Salvar</button>
    </form>
    <a class="button" href="/painel_geral">Voltar</a>
    <script>
        document.getElementById('artistaForm').addEventListener('submit', function() {
            document.getElementById('submitBtn').disabled = true;
        });
    </script>
{% endblock %}