{% extends "myapp/base_menu.html" %}
{% load static %}

{% block content %}
<div class="banner">
    <img src="{% static 'images/banner.png' %}" alt="Som a Som Banner" class="banner-image">
</div>
    <h2>Quem colabora</h2>
    <div class="artist-gallery">
        {% for artista in artistas %}
            <div class="artist-item">
                <a href="{% url 'visualizar_artista' artista.pk %}">
                    {% if artista.imagem_perfil %}
                        <img src="{{ artista.imagem_perfil.url }}" alt="{{ artista.nome }}" class="artist-image">
                    {% else %}
                        <img src="{% static 'images/somasom_logo_fundolaranja.png' %}" alt="Imagem padrão" class="artist-image">
                    {% endif %}
                    <a href="{% url 'visualizar_artista' artista.pk %}" class="artist-name">{{ artista.nome }}</a>
                </a>
            </div>
        {% endfor %}
    </div>

    <h2>Colabora com o quê</h2>
    <div class="sound-gallery">
        {% for som in sons %}
            <div class="sound-item">
                <a href="{% url 'visualizar_som' som.pk %}">
                    {% if som.imagem_som %}
                        <img src="{{ som.imagem_som.url }}" alt="{{ som.titulo }}" class="sound-image">
                    {% else %}
                        <img src="{% static 'images/somasom_logo_fundolaranja.png' %}" alt="Imagem padrão" class="sound-image">
                    {% endif %}
                </a>
                <a href="{% url 'visualizar_som' som.pk %}" class="sound-name">{{ som.titulo }}</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
