{% extends "myapp/base_menu.html" %}
{% load static %}

{% block content %}
    <h1>Artistas</h1>
    <div class="artist-gallery">
        {% for artista in artistas %}
            <div class="artist-item">
                <a href="{% url 'artist' artista.pk %}">
                    {% if artista.imagem_perfil %}
                        <img src="{{ artista.imagem_perfil.url }}" alt="{{ artista.nome }}" class="artist-image">
                    {% else %}
                        <img src="{% static 'images/somasom_logo_fundolaranja.png' %}" alt="Imagem padrão" class="artist-image">
                    {% endif %}
                </a>
                <a href="{% url 'artist' artista.pk %}" class="artist-name">{{ artista.nome }}</a>
            </div>
        {% empty %}
            <p>Nenhum artista encontrado.</p>
        {% endfor %}
    </div>

    <!-- Navegação de paginação -->
    <div class="pagination">
        <span class="step-links">
            {% if artistas.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ artistas.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ artistas.number }} de {{ artistas.paginator.num_pages }}.
            </span>

            {% if artistas.has_next %}
                <a href="?page={{ artistas.next_page_number }}">próxima</a>
                <a href="?page={{ artistas.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
