{% extends "myapp/base_menu.html" %}

{% block content %}
    <h1>Sons</h1>
    <div class="sound-gallery">
        {% for lancamento in lancamentos %}
            <div class="sound-item">
                {% if lancamento.imagem_lancamento %}
                    <img src="{{ lancamento.imagem_lancamento.url }}" alt="{{ lancamento.titulo }}" class="sound-image">
                {% endif %}
                <a href="{% url 'visualizar_lancamento' lancamento.pk %}" class="sound-name">{{ lancamento.titulo }}</a>
            </div>
        {% endfor %}
    </div>

    <!-- Navegação de paginação -->
    <div class="pagination">
        <span class="step-links">
            {% if lancamentos.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ lancamentos.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ lancamentos.number }} de {{ lancamentos.paginator.num_pages }}.
            </span>

            {% if lancamentos.has_next %}
                <a href="?page={{ lancamentos.next_page_number }}">próxima</a>
                <a href="?page={{ lancamentos.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
