{% extends "myapp/base_menu.html" %}

{% block content %}
    <h1>Lista de Artistas</h1>
    <ul>
        {% for artista in artistas %}
            <li>
                {% if artista.imagem_perfil %}
                    <img src="{{ artista.imagem_perfil.url }}" alt="{{ artista.nome }}" style="width:100px;height:100px;">
                {% endif %}
                <a href="{% url 'visualizar_artista' artista.pk %}">{{ artista.nome }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
