{% extends "myapp/base_menu.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <!-- Título -->
        <h1 class="text-center mt-5">Nosso Manifesto</h1>

        <!-- Imagem de Banner -->
        <div class="banner-image mt-4">
            <img src="{% static 'images/banner_manifesto.png' %}" alt="Banner do Manifesto" class="img-fluid w-100">
        </div>

        <!-- Descrição -->
        <div class="manifesto-description mt-4">
            <p>
                Bem-vindo ao nosso manifesto, onde expressamos nossa visão, missão e os valores que nos guiam.
                Acreditamos na força da música para transformar vidas, unir pessoas e criar experiências memoráveis.
                Nosso compromisso é com a excelência artística e a promoção de talentos emergentes, proporcionando
                um espaço onde artistas e amantes da música possam se conectar e crescer juntos.
            </p>
            <p>
                Valorizamos a diversidade, a inovação e a autenticidade em cada lançamento e evento que promovemos.
                Estamos dedicados a criar um impacto positivo na sociedade através da música, inspirando novas
                gerações a explorar sua criatividade e paixão pelo som.
            </p>
            <p>
                Junte-se a nós nesta jornada musical e descubra o poder transformador da música. Acreditamos que
                juntos podemos construir um mundo mais harmonioso e vibrante, onde a música é a linguagem universal
                que nos conecta a todos.
            </p>
        </div>
    </div>
{% endblock %}