{% extends "myapp/base_menu.html" %}

{% block content %}
    <h2>Painel</h2>

    <a href="{% url 'cadastrar_artista' %}">Cadastrar Novo Artista</a>
    <a href="{% url 'cadastrar_lancamento' %}">Cadastrar Novo Lançamento</a>

    <h2>Meus artistas:</h2>
    <div class="artist-gallery">
        {% for artista in artistas %}
            <div class="artist-item">
                {% if artista.imagem_perfil %}
                    <img src="{{ artista.imagem_perfil.url }}" alt="{{ artista.nome }}" class="artist-image">
                {% endif %}
                <a href="{% url 'editar_artista' artista.pk %}">Editar</a>
                <a href="{% url 'excluir_artista' artista.pk %}">Excluir</a>  <!-- Link para confirmação de exclusão -->
            </div>
        {% empty %}
            <li>Nenhum artista encontrado.</li>
        {% endfor %}
    </div>


    <h2>Meus lançamentos:</h2>
    <div class="sound-gallery">
    {% for lancamento in lancamentos %}
        <div class="sound-item">
            {% if lancamento.imagem_lancamento %}
                <img src="{{ lancamento.imagem_lancamento.url }}" alt="{{ lancamento.titulo }}" class="sound-image">
            {% endif %}
            <a href="{% url 'editar_lancamento' pk=lancamento.pk %}">Editar Lançamento</a>
            <a href="{% url 'excluir_lancamento' pk=lancamento.pk %}">Excluir Lançamento</a>
        </div>
        {% empty %}
            <li>Nenhum lançamento encontrado.</li>
        {% endfor %}
</div>
{% endblock %}
