{% extends "myapp/base_menu.html" %}

{% block content %}


    <h2>Painel</h2>
    <p>Seu ID de usuário é: {{ user.id }}</p>

    <a href="{% url 'cadastrar_artista' %}">Cadastrar Novo Artista</a>
    <a href="{% url 'cadastrar_lancamento' %}">Cadastrar Novo Lançamento</a>

    <h2>Meus artistas:</h2>
        {% for artista in artistas %}
            <li>
                {% if artista.imagem_perfil %}
                    <img src="{{ artista.imagem_perfil.url }}" alt="{{ artista.nome }}" style="width:100px;height:100px;">
                {% endif %}
                {{ artista.nome }}
                <a href="{% url 'editar_artista' artista.pk %}">Editar</a>
                <a href="{% url 'excluir_artista' artista.pk %}">Excluir</a>  <!-- Link para confirmação de exclusão -->

            </li>
        {% endfor %}

    <h2>Meus lançamentos:</h2>
        <ul>
        {% for lancamento in lancamentos %}
            <li>
                <strong>{{ lancamento.titulo }}</strong>
                <p>Data de Lançamento: {{ lancamento.data_lancamento }}</p>
                {% if lancamento.imagem_lancamento %}
                    <img src="{{ lancamento.imagem_lancamento.url }}" alt="{{ lancamento.titulo }}" style="width:100px;height:100px;">
                {% endif %}
                <a href="{% url 'editar_lancamento' pk=lancamento.pk %}">Editar Lançamento</a>
                <a href="{% url 'excluir_lancamento' pk=lancamento.pk %}">Excluir Lançamento</a>

            </li>
        {% endfor %}
    </ul>
{% endblock %}