{% extends "myapp/base_menu.html" %}
{% load static %}

{% block content %}

    <h2>Meus artistas:</h2>
    <a href="{% url 'cadastrar_artista' %}">Cadastrar Novo Artista</a>
    <div class="artist-gallery">
        {% for artista in artistas %}
            <div class="artist-item">
                {% if artista.imagem_perfil %}
                    <img src="{{ artista.imagem_perfil.url }}" alt="{{ artista.nome }}" class="artist-image">
                {% else %}
                    <img src="{% static 'images/somasom_logo_fundolaranja.png' %}" alt="Imagem padrão" class="artist-image">
                {% endif %}
                <p class="artist-name">{{ artista.nome }}</p>
                <a href="{% url 'editar_artista' artista.pk %}">Editar</a>
                <a href="{% url 'excluir_artista' artista.pk %}">Excluir</a>  <!-- Link para confirmação de exclusão -->
            </div>
        {% empty %}
            <p>Nenhum artista encontrado.</p>
        {% endfor %}
    </div>


    <h2>Meus sons:</h2>
    <a href="{% url 'cadastrar_som' %}">Cadastrar Novo Som</a>
    <div class="sound-gallery">
    {% for som in sons %}
        <div class="sound-item">
            {% if som.imagem_som %}
                <img src="{{ som.imagem_som.url }}" alt="{{ som.titulo }}" class="sound-image">
            {% else %}
                <img src="{% static 'images/somasom_logo_fundolaranja.png' %}" alt="Imagem padrão" class="sound-image">
            {% endif %}
            <p class="sound-name">{{ som.titulo }}</p>
            <a href="{% url 'editar_som' pk=som.pk %}">Editar Som</a>
            <a href="{% url 'excluir_som' pk=som.pk %}">Excluir Som</a>
        </div>
        {% empty %}
            <p>Nenhum som encontrado.</p>
        {% endfor %}
</div>
{% endblock %}
