{% extends "myapp/base_menu.html" %}

{% block content %}
<!DOCTYPE html>
    <h1>Política de Privacidade</h1>
    <p>Sua privacidade é importante para nós. Esta política de privacidade explica quais informações pessoais coletamos e como as usamos.</p>
    
    <h2>Informações que Coletamos</h2>
    <p>Coletamos as seguintes informações:</p>
    <ul>
        <li>Nome</li>
        <li>Email</li>
        <li>Senha</li>
    </ul>

    <h2>Uso das Informações</h2>
    <p>Usamos as informações coletadas para:</p>
    <ul>
        <li>Gerenciar seu cadastro na plataforma</li>
        <li>Enviar comunicações relevantes</li>
        <li>Melhorar nossos serviços</li>
    </ul>

    <h2>Proteção das Informações</h2>
    <p>Adotamos medidas de segurança para proteger suas informações pessoais.</p>

    <h2>Compartilhamento das Informações</h2>
    <p>Não compartilhamos suas informações pessoais com terceiros, exceto conforme necessário para fornecer nossos serviços ou conforme exigido por lei.</p>

    <h2>Seus Direitos</h2>
    <p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais. Entre em contato conosco para exercer esses direitos.</p>

    <h2>Contato</h2>
    <p>Se você tiver dúvidas sobre esta política de privacidade, entre em contato conosco em <a href="mailto:lucasgkauer@gmail.com">seuemail@example.com</a>.</p>

{% endblock %}
