{% extends "myapp/base_menu.html" %}

{% block content %}
<div class="container">
    <h1>Política de Privacidade</h1>
    <p>Esta política de privacidade foi compilada para melhor servir aqueles que estão preocupados com a forma como suas 'Informações Pessoais Identificáveis' (IPI) estão sendo usadas online. IPI, conforme descrito na legislação de privacidade e segurança da informação dos EUA, UE e Brasil, é informação que pode ser usada isoladamente ou com outras informações para identificar, contatar ou localizar uma única pessoa, ou para identificar um indivíduo no contexto.</p>

    <h2>1. Informações que Coletamos</h2>
    <p>Coletamos informações quando você se cadastra em nosso site. As informações coletadas incluem seu nome, endereço de e-mail e senha.</p>

    <h2>2. Uso das Informações</h2>
    <p>As informações que coletamos de você podem ser usadas das seguintes maneiras:</p>
    <ul>
        <li>Para personalizar sua experiência</li>
        <li>Para melhorar nosso site</li>
        <li>Para melhorar o atendimento ao cliente</li>
        <li>Para processar transações</li>
        <li>Para administrar um concurso, promoção, pesquisa ou outro recurso do site</li>
        <li>Para enviar e-mails periódicos</li>
    </ul>

    <h2>3. Proteção das Informações</h2>
    <p>Implementamos uma variedade de medidas de segurança para manter a segurança de suas informações pessoais. Suas informações pessoais são contidas em redes seguras e só são acessíveis por um número limitado de pessoas que têm direitos especiais de acesso a tais sistemas, e são obrigadas a manter a informação confidencial. Além disso, todas as informações sensíveis/crédito fornecidas são criptografadas via tecnologia Secure Socket Layer (SSL).</p>

    <h2>4. GDPR (Regulamento Geral de Proteção de Dados da União Europeia)</h2>
    <p>Se você é residente da União Europeia (UE), tem certos direitos de proteção de dados. Nos comprometemos a processar seus dados de acordo com o GDPR.</p>
    <ul>
        <li>Direito de acesso</li>
        <li>Direito à retificação</li>
        <li>Direito ao apagamento</li>
        <li>Direito à restrição de processamento</li>
        <li>Direito à portabilidade de dados</li>
        <li>Direito de objeção</li>
    </ul>
    <p>Para exercer esses direitos, entre em contato conosco através dos detalhes fornecidos abaixo.</p>

    <h2>5. CCPA (California Consumer Privacy Act)</h2>
    <p>De acordo com o CCPA, os residentes da Califórnia têm o direito de:</p>
    <ul>
        <li>Saber quais informações pessoais estão sendo coletadas sobre eles</li>
        <li>Saber se suas informações pessoais são vendidas ou divulgadas e a quem</li>
        <li>Acessar suas informações pessoais</li>
        <li>Solicitar a exclusão de quaisquer informações pessoais sobre o consumidor</li>
        <li>Não ser discriminado por exercer seus direitos de privacidade</li>
    </ul>
    <p>Para exercer esses direitos, entre em contato conosco através dos detalhes fornecidos abaixo.</p>

    <h2>6. LGPD (Lei Geral de Proteção de Dados do Brasil)</h2>
    <p>Nos comprometemos a processar seus dados de acordo com a LGPD.</p>
    <ul>
        <li>Direito de confirmação da existência de tratamento</li>
        <li>Direito de acesso aos dados</li>
        <li>Direito de correção de dados incompletos, inexatos ou desatualizados</li>
        <li>Direito de anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a lei</li>
        <li>Direito à portabilidade dos dados</li>
        <li>Direito de eliminação dos dados pessoais tratados com o consentimento do titular</li>
        <li>Direito à informação das entidades públicas e privadas com as quais o controlador realizou uso compartilhado de dados</li>
        <li>Direito à informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa</li>
        <li>Direito de revogação do consentimento</li>
    </ul>
    <p>Para exercer esses direitos, entre em contato conosco através dos detalhes fornecidos abaixo.</p>

    <h2>7. Contato</h2>
    <p>Se houver alguma dúvida sobre esta política de privacidade, você pode entrar em contato conosco usando as informações abaixo.</p>
    <p>Email: lucasgkauer@gmail.com</p>
    <p>Endereço: Estrada canastra baixa, 354, Três Coroas, Rio grande do Sul, Brasil</p>

</div>
{% endblock %}
