{% extends "myapp/base_menu.html" %}

{% block content %}
    <div class="login-container">
        <h2>Cadastrar</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.username.label_tag }}
                <span class="tooltip"><span class="tooltip-icon">?</span><span class="tooltiptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></span>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                <span class="tooltip"><span class="tooltip-icon">?</span><span class="tooltiptext">Required. Enter a valid email address.</span></span>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-group">
                {{ form.password1.label_tag }}
                <span class="tooltip"><span class="tooltip-icon">?</span><span class="tooltiptext">Your password can't be too similar to your other personal information. Must contain at least 8 characters, can't be a commonly used password, and can't be entirely numeric.</span></span>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="form-group">
                {{ form.password2.label_tag }}
                <span class="tooltip"><span class="tooltip-icon">?</span><span class="tooltiptext">Enter the same password as before, for verification.</span></span>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endblock %}
