{% extends "myapp/base_menu.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 style="text-align: center;">{{ artista.nome }}</h1>

        <div >
            <div class="artist-item">
                {% if artista.imagem_perfil %}
                    <img src="{{ artista.imagem_perfil.url }}" alt="{{ artista.nome }}" class="artist-image">
                {% endif %}
                <p style="text-align: center;">{{ artista.descricao }}</p>
            </div>
        </div>

        <h2 style="text-align: center;">Sons</h2>

        <div class="sound-gallery">
            {% for som in sons %}
            <div class="sound-item">
                <a href="{% url 'visualizar_som' som.pk %}">
                    {% if som.imagem_som %}
                        <img src="{{ som.imagem_som.url }}" alt="{{ som.titulo }}" class="sound-image">
                    {% else %}
                        <img src="{% static 'images/somasom_logo_fundolaranja.png' %}" alt="Imagem padrão" class="sound-image">
                    {% endif %}
                </a>
                <a href="{% url 'visualizar_som' som.pk %}" class="sound-name">{{ som.titulo }}</a>
            </div>
            {% empty %}
                <p style="text-align: center;">Nenhum som encontrado.</p>
            {% endfor %}
        </div>

        <!-- Navegação de paginação -->
        <div class="pagination" style="text-align: center;">
            <span class="step-links">
                {% if sons.has_previous %}
                    <a href="?page=1">&laquo; primeira</a>
                    <a href="?page={{ sons.previous_page_number }}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ sons.number }} de {{ sons.paginator.num_pages }}.
                </span>

                {% if sons.has_next %}
                    <a href="?page={{ sons.next_page_number }}">próxima</a>
                    <a href="?page={{ sons.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
