{% extends "myapp/base_menu.html" %}

{% block content %}
    <h1>{{ som.titulo }}</h1>
    <div class="sound-gallery">
        <div class="sound-item">
                {% if som.imagem_som %}
                    <img src="{{ som.imagem_som.url }}" alt="{{ som.titulo }}" class="sound-image">
                {% endif %}
                <p><strong>Artista:</strong> <a href="{% url 'visualizar_artista' som.artista.pk %}">{{ som.artista.nome }}</a></p>
                {% if som.audio %}
                    <audio controls>
                        <source src="{{ som.audio.url }}" type="audio/{{ som.audio.url|slice:"-3:" }}">
                        Your browser does not support the audio element.
                    </audio>
                    <br>
                    <a href="{{ som.audio.url }}" download="{{ som.titulo }}.{{ som.audio.url|slice:"-3:" }}" class="btn btn-primary">Download Áudio</a>
                {% endif %}
                <p>{{ som.descricao }}</p>
        </div>
    </div>
{% endblock %}
