<!-- myapp/templates/myapp/visualizar_lancamento.html -->
{% extends "myapp/base_menu.html" %}

{% block content %}
    <h1>Detalhes do Lançamento</h1>
    <p><strong>Título:</strong> {{ lancamento.titulo }}</p>
    <p><strong>Artista:</strong> <a href="{% url 'visualizar_artista' lancamento.artista.pk %}">{{ lancamento.artista.nome }}</a></p>
    <p><strong>Data de Lançamento:</strong> {{ lancamento.data_lancamento }}</p>

    {% if lancamento.imagem_lancamento %}
        <img src="{{ lancamento.imagem_lancamento.url }}" alt="{{ lancamento.titulo }}" style="width:100px;height:100px;">
    {% endif %}

    {% if lancamento.audio %}
        <audio controls>
            <source src="{{ lancamento.audio.url }}" type="audio/{{ lancamento.audio.url|slice:"-3:" }}">
            Your browser does not support the audio element.
        </audio>
        <br>
        <a href="{{ lancamento.audio.url }}" download="{{ lancamento.titulo }}.{{ lancamento.audio.url|slice:"-3:" }}" class="btn btn-primary">Download Áudio</a>
    {% endif %}

    <a href="{% url 'listar_lancamentos' %}">Voltar</a>
{% endblock %}
